.weekList {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 22px;
}
.weekBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}
.week {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #332821;
}
.wea {
  width: 30px;
  height: 30px;
}
.wea img {
  width: 100%;
  height: 100%;
  display: block;
}
.tem {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #332821;
}
.tem span {
  margin: 0 5px;
}
.tem .grey {
  color: rgba(51, 40, 33, 0.5);
}
